language: java

jdk:
  - openjdk11

services:
  - docker

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  provider: script
  script: mvn -DskipTests=true -Dmaven.javadoc.skip=true -B -V deploy
  skip_cleanup: true