<?xml version="1.0" encoding="UTF-8"?>

<!-- Logback Configuration File -for Wica Application -->
<configuration scan="true">

    <!-- APPENDER CONFIGURATION STARTS HERE -->

    <!-- APP_LOG rolling file appender written to 'log/application.log' -->
    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/error.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR_LOG rolling file appender written to 'log/error.log' -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/error.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEBUG_LOG rolling file appender written to 'log/debug.log' -->
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/debug.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- STDOUT_LOG console appender to stdout -->
    <appender name="STDOUT_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ASYNC_APP_LOG asynchronous appender for APP_LOG -->
    <appender name="ASYNC_APP_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <queueSize>4000000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <!-- Use with care: turning ON the 'includeCallerData' feature significantly reduces logger throughput -->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="APP_LOG" />
    </appender>

    <!-- ASYNC_ERROR_LOG asynchronous appender for ERROR_LOG -->
    <appender name="ASYNC_ERROR_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <queueSize>4000000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <!-- Use with care: turning ON the 'includeCallerData' feature significantly reduces logger throughput -->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="ERROR_LOG" />
    </appender>

    <!-- ASYNC_DEBUG_LOG asynchronous appender for DEBUG_LOG -->
    <appender name="ASYNC_DEBUG_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <queueSize>4000000</queueSize>
        <queueSize>4000000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <!-- Use with care: turning ON the 'includeCallerData' feature significantly reduces logger throughput -->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="DEBUG_LOG" />
    </appender>

    <!-- ASYNC_STDOUT_LOG asynchronous appender for STDOUT_LOG -->
    <appender name="ASYNC_STDOUT_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <queueSize>4000000</queueSize>
        <queueSize>4000000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <!-- Use with care: turning ON the 'includeCallerData' feature significantly reduces logger throughput -->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="STDOUT_LOG" />
    </appender>


    <!-- LOGGER CONFIGURATION STARTS HERE -->

    <logger name="APP_LOGGER" level="INFO">
        <appender-ref ref="ASYNC_APP_LOG" />
    </logger>

    <logger name="ch.psi.wica" level="DEBUG"/>


    <!-- ROOT CONFIGURATION STARTS HERE -->

    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT_LOG" />  -->
        <appender-ref ref="ASYNC_ERROR_LOG" />
        <appender-ref ref="ASYNC_DEBUG_LOG" />
    </root>

</configuration>
