/*[data-wica-channel-alarm-state = '0'] {*/
    /*color: initial !important;*/
/*}*/

[data-wica-channel-alarm-state = '1'] {
    color: yellow !important;
}

[data-wica-channel-alarm-state = '2'] {
    color: red !important;
}

/*[data-wica-channel-alarm-state = '3'] {*/
    /*color: orange !important;*/
/*}*/

/*[data-wica-channel-connection-state = 'connected' ] {*/
    /*background-color: initial;*/
    /*color: initial;*/
/*}*/

[data-wica-channel-connection-state = 'disconnected' ] {
    background-color: white !important;
    color: darkgrey !important;
}

[data-wica-stream-state = 'connecting' ] {
    background-color: mintcream !important;
    color: darkgrey !important;
    transition: color 2s;
    transition: background-color 2s;
}

/*[data-wica-stream-state = 'opened' ] {*/
    /*background-color: initial;*/
    /*color: initial;*/
/*}*/

[data-wica-stream-state = 'closed' ] {
    background-color: #ffe4e4 !important;
    color: darkgrey !important;
}
