<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" content="1" />
    <style>

        h1 {
            text-align: center;
        }

        h2 {
            padding-top: 15px;
        }

        table {
            width: 50%;
        }
        td {
            text-align: left;
            padding-right: 15px;
        }

        .key {
           width: 25%;
        }

        .value {
            width: 75%;
        }

    </style>
    <title>Wica Admin Page</title>
</head>

<body>

    <h1>Wica Server Admin Page</h1>

    <h2>System Information</h2>

    <div th:each="statisticsCategory: ${statisticsList}">
        <h3 th:text="${statisticsCategory.getHeader()}"></h3>
        <table>
            <tr th:each="statisticsItem: ${statisticsCategory.getEntries()}">
                <td class="key" th:text="${statisticsItem.key}"></td>
                <td class="value" th:text="${statisticsItem.value}"></td>
            </tr>
        </table>
    </div>

</body>
</html>
