<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>

        h1 {
            text-align: center;
        }

        h2 {
            padding-top: 15px;
        }

        #server-link-status-widget {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 0 solid #000;
            background-color: lightgray;
            margin-left: 18px;
            margin-right: 10px;
        }

    </style>
    <script type="text/javascript" src="wica2.js" defer></script>
</head>

<body>

<h1>Wica 2 Demo Page</h1>

<div>
    <h2>Connection Status</h2>
    <span>Link Status: </span> <button id="server-link-status-widget" class="led-widget"></button>
</div>

<div>
    <h2>Stream Data</h2>
    <span>Received Data 0.1s: </span> <span data-epics-channel="simon:counter1"></span> <br>
    <span>Received Data 0.2s: </span> <span data-epics-channel="simon:counter2"></span> <br>
    <span>Received Data 0.5s: </span> <span data-epics-channel="simon:counter3"></span> <br>
    <span>Received Data 1.0s: </span> <span data-epics-channel="simon:counter4"></span> <br>
    <span>Received Data 2.0s: </span> <span data-epics-channel="simon:counter5"></span> <br>
    <span>Received Data 5.0s: </span> <span data-epics-channel="simon:counter6"></span> <br>
    <span>Received Data 10s:  </span> <span data-epics-channel="simon:counter7"></span> <br>
</div>
</body>
</html>
