<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            padding-top: 15px;
        }

    </style>
</head>

<body>

    <h1>GFA Wica Server</h1>

    <h2>Navigation</h2>
    <p>Please choose one of the following links:</p>

    <ul>
        <h3>Office Network</h3>
        <li><a href="../demo/DemoPage.html">Simple Demo Page</a></li>
        <h3>PROSCAN</h3>
        <li><a href="../demo/ProscanStatusDisplaySimple.html">Status Display - Simple (minimal formatting)</a></li>
        <li><a href="../demo/ProscanStatusDisplayAdvanced.html">Status Display - Advanced (more like original)</a></li>
        <li><a href="../demo/ProscanVerticalDeflectorPlot.html">Vertical Deflector Plot</a></li>
        <li><a href="../demo/ProscanProfileMonitorPlot.html">MMAP5X/6Y Profile Monitor Plot</a></li>
        <h3>SwissFEL</h3>
        <li><a href="../demo/SwissFelMagnetDemoPage.html">Magnets</a></li>
    </ul>

</body>
</html>
